body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
}

.login-section {
    width: 50%;
    padding: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    font-family: Georgia;
    font-size: 36px;
    color: #007b8f;
    margin-bottom: 20px;
}

.logo span {
    color: #ff8300;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Times New Roman', serif;}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-toggle {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #007b8f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #005f6e;
}

.forgot-password {
    display: flex;
    margin-top: 20px;
    text-align: center;
    color: #007b8f;
    text-decoration: none;
    justify-content: center;
}

.forgot-password:hover {
    text-decoration: underline;
}

.terms {
    margin-top: 40px;
    font-size: 14px;
    color: #666;
    text-align: center;
}

.terms a {
    color: #007b8f;
    text-decoration: none;
}

.image-section {
    width: 50%;
    background: url('https://plus.unsplash.com/premium_photo-1661434638236-410c530e70a3?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZmluYW5jaWFsJTIwcGxhbm5pbmd8ZW58MHx8MHx8fDA%3D') no-repeat center center/cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay h2 {
    color: #fff;
    font-size: 36px;
    text-align: center;
    padding: 20px;
}

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.4s;
  cursor: pointer; 
  width: 500px; 
}

.button:hover {
  background-color: #008CBA; /* Green */
  color: white;
}

.inputs{
    width: 450px;
    height: 20px;
}

#register{
    background-color: white;
    color:#04AA6D;
    border: 2px ridge #04AA6D;
}


.alert {
    padding: 10px;
    margin-bottom: 10px;
}

.alert.success {
    background-color: #4CAF50;
    color: white;
}

.alert.danger {
    background-color: #f44336;
    color: white;
}

.alert.warning {
    background-color: #ff9800;
    color: white;
}

.alert.info {
    background-color: #2196F3;
    color: white;
}

